@import "../../assets/stylus/mixins.styl"
rem=750/10rem
.goToTop
  position fixed
  right (23/rem)
  bottom (115/rem)
  display inline-block
  width (82/rem)
  height (82/rem)
  background-image url("./images/goToTop/goToTop.png")
